html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 25px;
  padding-left: auto;
  padding-right: auto;
}
body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EEEEEE;
}

a {
  color: #00B7FF;
}


#main {
  height: 100%;
  width: 100%;
}

#logo {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.eat {
  width: 100%
}

.profile_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    margin: 0 auto;
}

.profile_name {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  font-size: 60%;
}

.profile_message {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px 25px 0px 25px;
}

.map {
  height: 400px;
  z-index: 0;
  margin-bottom: 5px;
}

.map_view {
  z-index: 1;
  mergin: 30px:
  height: 300px;
  margin-bottom: 5px;
}

.spot_list {
  z-index: 2;
  width: 90%;
  margin: 0 auto;
}

.spot_item {
  width: 100%;
  margin-bottom: 15px;
}

.spot_item_image {
  height: 100px;
  width: 100px;
}

.spot_item_name {
  border: 1px solid #FF00FF;
}

.container_hor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_ver {
  overflow: hidden;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.spot_custom_opentime {
  height: 20px;
}

.spot_custom_budget {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.profile_message {
  font-size: 74%;
  text-align: left;
  line-height: 2;
}

.map_message, .where_message {
  font-size: 82%;
  padding-top: 25px;
  padding-left: 25px;
}

.map {
  padding-top: 10px;
  position: relative;
}

.where_message {
  padding-bottom: 10px;
}
