html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EEEEEE;
}

a {
  color: #00B7FF;
}


#main {
  height: 100%;
  width: 100%;
}

#logo {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.profile_icon {
}

.profile_name {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.profile_message {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.map {
  height: 400px;
  width: 600px;
  z-index: 0;
  margin-bottom: 5px;
}

.map_view {
  z-index: 1;
  width: 600px;
  mergine: 30px:
  height: 300px;
  margin-bottom: 5px;
}

.spot_list {
  z-index: 2;
  width: 90%;
  margin: 0 auto;
}

.spot_item {
  width: 90%;
  margin-bottom: 5px;
}

.spot_item_image {
  height: 100px;
  width: 100px;
}

.spot_item_name {
  border: 1px solid #FF00FF;
}
