html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 25px;
  padding-left: auto;
  padding-right: auto;
}
body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EEEEEE;
}

a {
  color: #00B7FF;
}


#main {
  height: 100%;
  width: 100%;
}

#logo {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.eat {
  width: 100%
}

.profile_top {
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 238px;
    margin: 0 auto;
}

.profile_name {
  display: inline-block;
  margin-left: 10px;
}

.profile_name {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.profile_message {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px 10px 0px 10px;
}

.map {
  height: 400px;
  z-index: 0;
  margin-bottom: 5px;
}

.map_view {
  z-index: 1;
  mergin: 30px:
  height: 300px;
  margin-bottom: 5px;
}

.spot_list {
  z-index: 2;
  width: 90%;
  margin: 0 auto;
}

.spot_item {
  width: 350px;
  margin-bottom: 15px;
}

.spot_item_image {
  height: 100px;
  width: 100px;
}

.spot_item_name {
  border: 1px solid #FF00FF;
}

.spot_custom_right {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.profile_message {
  font-size: 74%;
  text-align: left;
  line-height: 2;
}

.map_message, .where_message {
  font-size: 88%;
  padding-top: 20px;
  padding-left: 10px;
}

.map {
  padding-top: 5px;
}
